<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.ace.storeapptest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:theme"
        android:theme="@style/Theme.StoreAppTest">
        <activity
            android:name=".Daste.EnLayout.EnLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".Search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Comments.AddComment.AddCommentActivity"
            android:exported="false" />
        <activity
            android:name=".Comments.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".Properties.PropertiesActivity"
            android:exported="false" />
        <activity
            android:name=".Detail.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".Regster.RegesterActivity"
            android:exported="false" />
        <activity
            android:name=".Login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ConnectLayout.ConnectActivity"
            android:exported="false" />
        <activity
            android:name=".Main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="httpss"
                    android:host="192.168.43.127"
                    android:pathPattern="/app/p/t.php" />
            </intent-filter>
        </activity>
    </application>

</manifest>